* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blobs-ctn,
.backdrop-effect {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.backdrop-effect {
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  border: 20px solid rgb(255, 255, 255);
  filter: blur(12px);
}

.blobs-ctn {
  position: absolute;
  z-index: 1;
}
.blobs-bg,
.blobs-mask,
.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.blobs-mask {
  z-index: 3;
  mix-blend-mode: screen;
  filter: blur(24px) contrast(36);
  background-color: white;
  /* will-change: auto; */
}

.blobs-bg {
  z-index: 2;
  filter: blur(36px);
  background-color: white;
}

.blob {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .blobs-bg .blob {
  mix-blend-mode: difference;
} */
