* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blobs-ctn {
  height: 100vh;
}

.blobs-ctn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  box-shadow: inset 0 0 20px 16px rgba(255, 255, 255, 0.9);
}

.blobs-bg,
.blobs-mask,
.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.blobs-mask {
  z-index: 3;
  mix-blend-mode: screen;
  filter: blur(24px) contrast(36);
  background-color: white;
}

.blobs-bg {
  z-index: 1;
  filter: blur(48px);
  background-color: white;
}

.blob {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
